// ! оставляем эти ширины?

@use 'global/variables' as vars;
@use 'global/mixin' as mixins;

.page-main__wrapper {
  display: grid;
  grid-template-columns:
    1fr
    clamp(320px, 100%, 680px)
    1fr;

  // place all elements inside this wrapper in the second column
  & > * {
    grid-column: 2;
  }
}

@media (min-width: vars.$tablet-width) {
  .page-main__wrapper {
    grid-template-columns:
      1fr
      clamp(708px, 80%, 1100px)
      1fr;
  }
}

@media (min-width: vars.$desktop-width) {
  .page-main__wrapper {
    grid-template-columns:
      1fr
      1215px
      1fr;
  }
}
