.sprite {
	display: inline-block;
	fill: currentColor;
}

{{#shapes}}
.sprite__{{base}} {
  // my code
	width:({{width.inner}}px);
  height:({{height.inner}}px);

  // original code, dunno why they are doing this, decided to use simpler code
  // font-size:({{height.inner}}/10)*1rem;
	// width:({{width.inner}}/{{height.inner}})*1em;
}
{{/shapes}}
